<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf8">
	<title>Presentation-service</title>
	<link rel="stylesheet" type="text/css" href="../presentation_res/css/style.css" >
	<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
	<script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
	<script src="../presentation_res/js/jquery.slideme2.js" type="text/javascript"></script>
	<link rel="stylesheet" href="../presentation_res/css/slideme.css" media="all"/>
	<script src="../presentation_res/js/jquery.growl.js" type="text/javascript"></script>
	<link href="../presentation_res/css/jquery.growl.css" rel="stylesheet" type="text/css" />
			<style>
		img {
			position:absolute;
			top:0;
			bottom:0;
			margin:auto;
		}

		.ui-listview .ui-li-static {
			text-align: center;
		}
		
		/* How to set width and height in non-responsive istances */
		#slideme_div .slideme {
			max-width: 42.1em;
			max-height: 31.6em;
			width: 100%;
			height: 100%;
			overflow: hidden;
			margin-top: 1.3em;
			box-shadow: #999 0 0 1.1em;
		}
		
		</style>
	<script type="text/javascript">
var socialProgram = ${social_program};
var placeslotUuid = "";
var current_item_index = 0;
var plus_persons_rating = "";
var minus_persons_rating = "";
var plus_percent = "";
var minus_percent = "";
var placeslotTitles = [];
var placeslotIndexes = [];

console.log("Start");

$(document).ready(function() {
	console.log("Ready");
	initPlacesPage();
	(function worker() {
						var nocache = new Date().getTime();

						$.ajax({
							type: 'GET',
							url: '../socialprogramrequest' + '?cache=' + nocache,
							success: function(data) {
								//get from data - you put this here when the "a" was clicked in the previous page
								var oldData = socialProgram;
								socialProgram = jQuery.parseJSON(data);
								console.log(socialProgram);
								  
								if (JSON.stringify(oldData) == JSON.stringify(socialProgram))
									return;
									  
								//$("#places-page").data("placeslot", placeslot); 

								refreshPlacesPage();																  
							},
							complete: function() {
							  // Schedule the next request when the current one's complete
								setTimeout(worker, 10000);
							},
							error: function (xhr, ajaxOptions, thrownError) {
								console.log(xhr.status);
								console.log(thrownError);								
							}
						  });
					})();
});

function initPlacesPage() {
	console.log("Start initPlacesPage");
	
	var placeslots_view = "";
	
	placeslots_view += '<div id="slideme_div"><ul class="slideme">';

	// Get photos of all places
	for(var i = 0; i < socialProgram.Placeslots.length; i++) 
	{
		var placeslotsOrder = {};
		var placeslot = socialProgram.Placeslots[i];
		placeslotsOrder.placeslot = placeslot;
		placeslotsOrder.index = i;
		//string to put HTML in
		if(placeslot.Place.Photos.length != 0) 
		{
			for(var key in placeslot.Place.Photos) {
				placeslots_view += '<li><img width="100%" height="100%" src="' + placeslot.Place.Photos[key].Url + '"/></li>';
				placeslotTitles.push(placeslot.Place.Title);
			}
		}
		else
		{	
			placeslots_view += '<li><img width="100%" height="100%" src="../presentation_res/img/no-photo.png"/></li>';
		}
		
		placeslotIndexes.push(placeslotsOrder);
		
	}
	
	console.log(placeslots_view);
	//append list to div container
	$("#slideme_div_places").html(placeslots_view);
	
	$('#slideme_div').slideme({
			autoslide: true,
			interval: 4000,
			loop : true,
			css3 : true,
			//touch : true,
			transition : 'fade',
			swipe : true,
			nativeTouchScroll : false,
			resizable: {
			width: 800,
			height: 600,
			},
			autoslideHoverStop : false,
			onEndCallback : function(data) {
				console.log(data['index']);
				$("#place_title_div").html('<h1>' + placeslotTitles[data['index']] + '</h1>');
				for (var i = 0; i < placeslotIndexes.length; i++)
				{
					var obj = placeslotIndexes[i];
					
					if (obj['placeslot'].Place.Title == placeslotTitles[data['index']])
					{
						current_item_index = obj['index'];
					}
				}
				refreshPlacesPage();				
			},
			onCreatedCallback : function(data) {
				console.log(data['index']);			
				$("#place_title_div").html('<h1>' + placeslotTitles[data['index']] + '</h1>');
				for (var i = 0; i < placeslotIndexes.length; i++)
				{
					var obj = placeslotIndexes[i];
					
					if (obj['placeslot'].Place.Title == placeslotTitles[data['index']])
					{
						current_item_index = obj['index'];
					}
				}
				refreshPlacesPage();					
			}
			});
}

function refreshPlacesPage() {

	console.log("Start refreshPlacesPage");

	var placeslot = socialProgram.Placeslots[current_item_index];
	
	console.log(placeslot.Place.Title);
	console.log("+: " + placeslot.PlusRating.length);
	console.log("-: " + placeslot.MinusRating.length);
	
	// set uuid value for post request
	placeslotUuid = placeslot.Uuid;	
		
	// set rating for place
	plus_persons_rating = placeslot.PlusRating.length;
	minus_persons_rating = placeslot.MinusRating.length;
	$("#minus_rating").html(minus_persons_rating);
	$("#plus_rating").html(plus_persons_rating);

	// set percent for voting
	var count_votes = placeslot.PlusRating.length + placeslot.MinusRating.length;
	plus_percent = placeslot.PlusRating.length / count_votes * 100;
	minus_percent = placeslot.MinusRating.length / count_votes * 100;
	
	
	console.log("+ percent: " + plus_percent)
	console.log("- percent: " + minus_percent)

	if (!isFinite(plus_percent)) {
		$("#plus_percent").css("width", "0%");
	} else {
		$("#plus_percent").css("width", plus_percent + "%");
	}
	if (!isFinite(minus_percent)) {
		$("#minus_percent").css("width", "0%")
	} else {
		$("#minus_percent").css("width", minus_percent + "%");
	}

	
/*
	//string to put HTML in
    var placeslot_view = "";
	
	placeslot_view += '<div id="slideme_div"><ul class="slideme">';
	
	if(placeslot.Place.Photos.length != 0) 
	{
		for(var key in placeslot.Place.Photos)
		{
			console.log(placeslot.Place.Photos[key].Url);
			placeslot_view += '<li><img width="100%" height="100%" src="'+ placeslot.Place.Photos[key].Url +'"/></li>';
		}
	}
	else
	{
		placeslot_view += '<li><img  src="../presentation_res/img/no-photo.png"/></li>';
	}

	placeslot_view += '</ul></div>';
	
	//append list to div container
	$("#slideme_div_places").html(placeslot_view);
   
	$("#place_title_div").html('<h1>' + placeslot.Place.Title + '</h1>');
        
	$('#slideme_div').slideme({
				autoslide: true,
				interval: 3000,
				loop : true,
				css3 : true,
				//touch : true,
				swipe : true,
				nativeTouchScroll : false,
				resizable: {
				width: 800,
				height: 600,
				},
				autoslideHoverStop : false
				});
*/
				
};				
	</script>
</head>

<body>
<div data-role="page" data-theme="b" id="places-page" >
<!-- 	<div class='main'>
		<section id="gallery" >
			<section id="buttons" > <a href='#'class='prev'>&laquo;</a> <a href='#'class='next'>&raquo;</a> 
			</section>
			<ul>
				<li> <img src='../presentation_res/img/petrsu.jpg' /> </li>
				<li> <img src='../presentation_res/img/petrsu-1.jpg' /> </li>
				<li> <img src='../presentation_res/img/onega-embankment.jpg' /> </li>
			</ul>
		</section>
	</div> -->
	
	<center>
			<div id="slideme_div_places">
			</div>
	</center>
	
    <div class="tab-cnt">
	   	<div id="place_title_div">
		</div>

        <div class="tab-tr" id="t1">
			<div class="stat-cnt">
				<div id="status_rating" class="stat-bar">
					<div id="plus_percent" class="bg-green"></div>
					<div id="minus_percent" class="bg-red"></div>
				</div><!-- stat-bar -->
				<div id="minus_rating" class="dislike-count"></div>
				<div id="plus_rating" class="like-count"></div>
		</div><!-- /stat-cnt -->
        </div><!-- /tab-tr -->
    </div><!-- /tuto-cnt -->
</div>
</body>
</html>