<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf8">
<title>Agenda-service</title>
<link rel="stylesheet" type="text/css" href="../agenda_res/css/style.css" >
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="../agenda_res/js/slide.js"></script>

<script type="text/javascript">

var socialProgram = ${social_program};
var plus_persons_rating = "";
var minus_persons_rating = "";
var plus_percent = "";
var minus_percent = "";
var plus_persons_rating = "";
var minus_persons_rating = "";
var index_program = 0;
var index_program_end = 0;
var socialProgramEven;

$(document).ready(function() {
	console.log("Ready");
	
	if (socialProgram.Placeslots.length == 0)
	{
		return;
	}
	
	socialProgramEven = ${social_program};
	
	if (socialProgram.Placeslots.length % 2 != 0 && socialProgram.Placeslots.length != 1) 
	{
		socialProgramEven.Placeslots.push(socialProgram.Placeslots[0]);
	} 
	
	updateProgramPage();

	(function worker() {
						var nocache = new Date().getTime();

						$.ajax({
							type: 'GET',
							url: '../socialprogramrequest' + '?cache=' + nocache,
							success: function(data) {
								//get from data - you put this here when the "a" was clicked in the previous page
								var oldData = socialProgram;
								socialProgram = jQuery.parseJSON(data);
								console.log(socialProgram);
								  
								if (JSON.stringify(oldData) == JSON.stringify(socialProgram))
									return;
								
								socialProgramEven = socialProgram;								
								if (socialProgram.Placeslots.length % 2 != 0 && socialProgram.Placeslots.length != 1) 
								{
									socialProgramEven.Placeslots.push(socialProgram.Placeslots[0]);
								} 
							},
							complete: function() {
							  // Schedule the next request when the current one's complete
								setTimeout(worker, 10000);
							},
							error: function (xhr, ajaxOptions, thrownError) {
								console.log(xhr.status);
								console.log(thrownError);								
							}
						  });
					})();
});

function updateProgramPage() {
	console.log("Start initProgramPage");
	console.log(index_program);
	
	var program_view = '';
	
	if (socialProgramEven.Placeslots.length == 1) 
	{
		index_program_end = 1;
	}
	else
	{
		index_program_end = index_program + 2;
	}
	
	for(var i = index_program; i < index_program_end; i++) 
	{
		// set alt attribute
		if (i % 2 != 0) 
		{
			program_view += '<li class="clearfix alt">';
		}
		else
		{
			program_view += '<li class="clearfix">';
		}
		
		program_view += '<section class="left">';
		
		var placeslot = socialProgramEven.Placeslots[i];		
		if(placeslot.Place.Photos.length != 0) 
		{
			// TODO: have to change on random photo index
			program_view += '<img src="' + placeslot.Place.Photos[getRandomInt(0, placeslot.Place.Photos.length - 1)].UrlMedium + '" alt="default thumb" class="thumb"/>';
		}
		else
		{	
			program_view += '<img src="../presentation_res/img/no-photo.png" alt="default thumb" class="thumb"/>';
		}
		
		// set title of placeslot
		program_view += '<h3>' + placeslot.Place.Title +  '</h3>';
		
		// set description of placeslot
		program_view += '<span class="meta">' + placeslot.Place.Description + '</span></br>';
		
		console.log(placeslot.Place.Title);	
		console.log(placeslot.Place.Description);

		// set rating for place
		plus_persons_rating = placeslot.PlusRating.length;
		minus_persons_rating = placeslot.MinusRating.length;
		$("#minus_rating").html(minus_persons_rating);
		$("#plus_rating").html(plus_persons_rating);
		program_view += '<div class="like-count">' + plus_persons_rating + '</div>';
		program_view += '<div class="dislike-count">' + minus_persons_rating + '</div>';
		
		program_view += '</section>';
		
		program_view += '<section class="right">';
		
		for(var j = 0; j < placeslot.PlusRating.length; j++)
		{
			console.log(placeslot.PlusRating[j].Name);
			program_view += '<span class="group">' + placeslot.PlusRating[j].Name + '</span>';
		}
		
		program_view += '</section></li>';
	}
	
	$("#program").html(program_view);

	if (socialProgramEven.Placeslots.length != index_program + 2 && socialProgramEven.Placeslots.length != 1)
	{
		console.log('a');
		index_program = index_program + 2;
	}
	else 
	{
		console.log('b');
		index_program = 0;
	}

	setTimeout(updateProgramPage, 15000);
}

/**
 * Returns a random integer between min (inclusive) and max (inclusive)
 * Using Math.round() will give you a non-uniform distribution!
 */
function getRandomInt(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

</script>

</head>
<body>
	<div id="wrap" height="100%">
		<header>
			<h1>Social program</h1>

		</header>
		
		<ul id="program" class="list clearfix">
			<!-- row 1 -->
<!-- 			<li class="clearfix">
				<section class="left">
					<img src="../agenda_res/img/onega-embankment.jpg" alt="default thumb" class="thumb"/>
					<h3>Onega Lake Embankment</h3>
					<span class="meta"> The embankment of Lake Onega contains a series of sculptures, many of which were presented as gifts from the twin cities.</span>
                    </br>
                    <div class="like-count">3</div>
                    <div class="dislike-count">2</div>
				</section>
				
				<section class="right">
					<span class="group">Sergey Marchenkov</span>
                    <span class="group">Andrey Vdovenko</span>                    
                    <span class="group">Dmitry Korzun</span>
				</section>
			</li> 
			
			<!-- row 2 -->
<!-- 			<li class="clearfix alt">
				<section class="left">
					<img src="../agenda_res/img/petrsu.jpg" alt="default thumb" class="thumb"/>
					<h3>Petrozavodsk State University</h3>
					<span class="meta">Petrozavodsk State University (PetrSU) is a classical university in Petrozavodsk, Republic of Karelia, Russian Federation. It was founded in 1940 as the Karelian-Finnish University and was renamed in 1956.</span>
                    </br>
                    <div class="like-count">2</div>
                    <div class="dislike-count">3</div>
				</section>
				
				<section class="right">
					<span class="group">Ivan Galov</span>
                    <span class="group">Alexander Lomov</span>
				</section>
			</li> -->
		</ul>
		
		<footer>
			&nbsp;
		</footer>
	</div>
</body>
</html>