<!DOCTYPE html>
<html>
<head>
    <title>Social program</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
	<script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js" type="text/javascript"></script>
	<meta http-equiv="X-UA-Compatible" content="IE=9" > 
	<script src="../client_res/js/jquery.slideme2.js" type="text/javascript"></script>
	<link rel="stylesheet" href="../client_res/css/slideme.css" media="all"/>
	<script src="../client_res/js/jquery.growl.js" type="text/javascript"></script>
	<link href="../client_res/css/jquery.growl.css" rel="stylesheet" type="text/css" />
		<style>
		img {
			position:absolute;
			top:0;
			bottom:0;
			margin:auto;
		}

		.ui-listview .ui-li-static {
			text-align: center;
		}
		
		/* How to set width and height in non-responsive istances */
		#slideme_div .slideme {
			height: 250px;
			width: 100%;
			max-width: 350px;
			max-height: 250px;
		}
		
		 #slideme_div .arrow {
				width: 45%;
		}
		
		</style>
	<script type="text/javascript">
	//assuming this comes from an ajax call
var socialProgram = ${social_program};
var placeslotUuid = "";
var personUuid = "${person_uuid}";
var current_item_index = 0;

//pageinit event for first page
//triggers only once
//write all your on-load functions and event handlers pertaining to page1
$(document).on("pageinit", "#info-page", refreshInfoPage);

var i = 0;

function refreshInfoPage () {

    //set up string for adding <li/>
    var li = "";
	
	
	
	var placeslot = socialProgram.Placeslots[i];
	
	i++;
	console.log("Start refreshInfoPage");
	
	li = '<li data-role="list-divider"  role="heading">Attraction list for '+ socialProgram.Title +'</li>';
    //container for $li to be added
    $.each(socialProgram.Placeslots, function (i, placeslot) {
	    var num = getRandomInt(0, placeslot.Place.Photos.length-1);
		var no_img = '../client_res/img/no-photo.png';
		var thumb = placeslot.Place.Photos.length != 0 ? 
		           (typeof placeslot.Place.Photos[num].UrlThumb != undefined ? placeslot.Place.Photos[num].UrlThumb : no_img)
				   : no_img;
        //add the <li> to "li" variable
        //note the use of += in the variable
        //meaning I'm adding to the existing data. not replacing it.
        //store index value in array as id of the <a> tag
        li += '<li style="white-space:normal;"><a href="#" id="' + i + '" class="info-go">' + placeslot.Place.Title 
			   + '<img src="'+ thumb +'"/>'
			   + '<div class="ui-li-count"><strong>&hearts;&nbsp;'+ placeslot.Rating+'</strong></div>'
			   +'</a></li>';
    });
	
    //append list to ul
    $("#prof-list").html(li).promise().done(function () {
			/// check for setted event
			$(this).unbind("click");
			//wait for append to finish - thats why you use a promise()
			//done() will run after append is done
			//add the click event for the redirection to happen to #details-page
			$(this).on("click", ".info-go", function (e) {
				e.preventDefault();
				//store the information in the next page's data
				$("#details-page").data("placeslot", socialProgram.Placeslots[this.id]);
				current_item_index = this.id;
				//change the page # to second page. 
				//Now the URL in the address bar will read index.html#details-page
				//where #details-page is the "id" of the second page
				//we're gonna redirect to that now using changePage() method
				$.mobile.changePage("#details-page");
			});

			//refresh list to enhance its styling.
			$(this).listview("refresh");
    });
	
	console.log("Stop refreshInfoPage");
};

//use pagebeforeshow
//DONT USE PAGEINIT! 
//the reason is you want this to happen every single time
//pageinit will happen only once
$(document).on("pagebeforeshow", "#details-page", refreshDetailsPage);

function refreshDetailsPage() {
    
	if($(this).data("placeslot") != undefined)
	{
		//get from data - you put this here when the "a" was clicked in the previous page
		var placeslot = $(this).data("placeslot");
	}
	else
	{
		var placeslot = socialProgram.Placeslots[current_item_index];
	}
	
	// set uuid value for post request
	placeslotUuid = placeslot.Uuid;	

   //string to put HTML in
    var placeslot_view = "";
   
	placeslot_view += '<div id="slideme_div"><ul class="slideme">';

	if(placeslot.Place.Photos.length != 0) 
	{
		for(var key in placeslot.Place.Photos)
		{
			placeslot_view += '<li><img width="400px" src="'+ placeslot.Place.Photos[key].UrlMedium +'"/></li>';
		}
	}
	else
	{
		placeslot_view += '<li><img  src="../client_res/img/no-photo.png"/></li>';
	}
	
	placeslot_view += '</ul></div>';
	
   //append list to div container
   $("#slideme_div2").html(placeslot_view);
   
   $("#place_title_div").html('<h3>Title: '+ placeslot.Place.Title +'</h3>');
     
   placeslot_view = placeslot.Place.Description;
   
   $("#place_description").html(placeslot_view).promise().done(function () {
			//refresh list to enhance its styling.
			//$(this).collapsibleset( "refresh" );
    });
   
   
   // Placing plus and minus ratings
   //placeslot_view += '<div data-role="collapsible" data-collapsed="false"><h3>Plus rating</h3><ul id="plus_list" data-role="listview" data-inset="false">';
   
	placeslot_view = '';
   
    $.each(placeslot.PlusRating, function (i, person) {
			placeslot_view += '<li style="white-space:normal;"><img height="80px" src="' + person.Url + '"/><h4>' + person.Name + '</h4></li>';
	});
   
   
   $("#plus_list").html(placeslot_view).promise().done(function () {
			//refresh list to enhance its styling.
			$(this).listview( "refresh" );
    });
   
    //placeslot_view += '</ul></div>';
	
	///placeslot_view += '<div data-role="collapsible"><h3>Minus rating</h3><ul id="minus_list" data-role="listview" data-inset="false">';
   
	placeslot_view = '';
   
    $.each(placeslot.MinusRating, function (i, person) {
			placeslot_view += '<li style="white-space:normal;"><img src="' + person.Url + '"/><h4>' + person.Name + '</h4></li>';
	}); 
   
    //placeslot_view += '</ul></div>';

	$("#minus_list").html(placeslot_view).promise().done(function () {
			//refresh list to enhance its styling.
			$(this).listview( "refresh" );
			$("#properties_list").collapsibleset( "refresh" );
    });
	
	//use for..in to iterate through object
/*    for (var key in placeslot) {
		if (key == "photo_list" || key == "photo_main" || key == "uuid")
			continue;
        //Im using grid layout here.
        //use any kind of layout you want.
        //key is the key of the property in the object 
        //if obj = {name: 'k'}
        //key = name, value = k
        placeslot_view += '<div class="ui-grid-a"><div class="ui-block-a"><div class="ui-bar field" style="font-weight : bold; text-align: left;">' + key + '</div></div><div class="ui-block-b"><div class="ui-bar value" style="width : 75%">' + placeslot[key] + '</div></div></div>';
    }
*/	
	//add content to container
/*	$("#properties_list").html(placeslot_view).promise().done(function () {
			//refresh list to enhance its styling.
			$(this).collapsibleset( "refresh" );
			
    });
	*/
	$('#slideme_div').slideme({
				autoslide: false,
				interval: 3000,
				loop : true,
				css3 : true,
				//touch : true,
				swipe : true,
				arrows : true,
				nativeTouchScroll : false,
				resizable: {
						width: 320,
				},
				labels : {
				prev: 'p',
				next: 'n',
				}
				});
				
	$("#slideme_div .arrow").addClass("ui-btn ui-btn-inline");	
	$("#slideme_div .arrow.next").addClass("ui-icon-arrow-r ui-btn-icon-notext");
	$("#slideme_div .arrow.prev").addClass("ui-icon-arrow-l ui-btn-icon-notext");
};

/**
 * Returns a random integer between min and max
 * Using Math.round() will give you a non-uniform distribution!
 */
function getRandomInt (min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

$(document).ready(function() {

$(".makeVote").click(function(e) {
           $.post("../vote", {placeslot_uuid: placeslotUuid, person_uuid: personUuid, vote: $(this).attr('value')})
            .done(function(string) {
               $.growl({ title: "Notification", message: "You voted!", location: 'tr'});
            })
			.fail(function(){ 
			   $.growl.error({ title: "Error", message: "Error while publish your vote", location: 'tr'});
			});
           e.preventDefault();
         });

$(".nav_but").click(function (e) {
				e.preventDefault();
				
				var navParameter = $(this).attr('value');
				
				if(navParameter == "next")
				{
					current_item_index++;
					if (current_item_index >= socialProgram.Placeslots.length) {
						current_item_index = 0;
					}
					
					var placeslot = socialProgram.Placeslots[current_item_index];
				}
				else if (navParameter == "prev")
				{
					current_item_index--;
					if (current_item_index < 0) {
						current_item_index = socialProgram.Placeslots.length - 1;
					}
					
					var placeslot = socialProgram.Placeslots[current_item_index];
				}
				
				//store the information in the next page's data
				$("#details-page").data("placeslot", placeslot);
				//change the page # to second page. 
				//Now the URL in the address bar will read index.html#details-page
				//where #details-page is the "id" of the second page
				//we're gonna redirect to that now using changePage() method
				$.mobile.changePage("#details-page", {allowSamePageTransition: true});
			});
		 
(function worker() {
						var nocache = new Date().getTime();

						$.ajax({
							type: 'GET',
							url: '../socialprogramrequest' + '?cache=' + nocache,
							success: function(data) {
								  //get from data - you put this here when the "a" was clicked in the previous page
								  var oldData = socialProgram;
								  socialProgram = jQuery.parseJSON(data);
								  console.log(socialProgram);
								  
								  if (JSON.stringify(oldData) == JSON.stringify(socialProgram))
								      return;
								  
								  if(typeof $.mobile.activePage != 'undefined')
								  {
								  var activePage = $.mobile.activePage[0].id;
								  console.log("Current page is " + activePage);
								  
								  if(activePage == "info-page")
								  {	
									console.log("refresh info page");
									refreshInfoPage();
								  }
								  else if (activePage == "details-page")
								  {
        							  var placeslot = socialProgram.Placeslots[current_item_index];
				
									  $("#details-page").data("placeslot", placeslot);
				
									  refreshInfoPage();
									  $.mobile.changePage("#details-page", {allowSamePageTransition: true});
								  }
								  }
								  //*/
								  //refreshInfoPage();
							},
							complete: function() {
							  // Schedule the next request when the current one's complete
								setTimeout(worker, 10000);
							},
							error: function (xhr, ajaxOptions, thrownError) {
								console.log(xhr.status);
								console.log(thrownError);								
							}
						  });
					})();
});
	</script>
	
</head>
<body>
    <div data-role="page" data-theme="b" id="info-page">
 
        <div data-role="header">
            <h1 style="white-space:normal;">Social program</h1>
        </div><!-- /header -->
		
		<div data-role="content">
			<ul data-role="listview" id="prof-list" data-inset="true">
			<li data-role="list-divider"  role="heading">Attraction list</li>
			</ul>
		 </div><!-- /content -->
		
		<!--
        <div data-role="footer">
            <h4>My Footer</h4>
        </div> /footer -->

	</div><!-- /page -->
	
	<!--second page -->
	<div data-role="page" id="details-page" data-theme="b">
		<div data-role="header" >
		
		<div data-role="navbar">
			<ul>
				<li><a href="#" data-rel="back" data-role="button" data-icon="back">Back</a></li>
				<li><a href="#" class="nav_but" value="prev" data-icon="arrow-l">Prev</a></li>
				<li><a href="#" class="nav_but" value="next" data-icon="arrow-r">Next</a></li>
			</ul>
  </div>
			<!-- <h1>Attraction Details</h1> -->
		</div>
    
		<div data-role="content">
			<center>
				<div id="slideme_div2">
				</div>
			</center>
			<div id="place_title_div">
			</div>
			<!-- <div id="properties_list" data-role="collapsibleset" data-inset="false"> -->
				<div data-role="collapsible" data-collapsed="false" data-collapsed-icon="carat-r" data-expanded-icon="carat-d"><h3>Description</h3><p id="place_description"></p></div>
				<div data-role="collapsible" data-collapsed="false" data-collapsed-icon="carat-r" data-expanded-icon="carat-d"><h3>Plus rating</h3><ul id="plus_list" data-role="listview" data-inset="false"></div>
				<div data-role="collapsible" data-collapsed="false" data-collapsed-icon="carat-r" data-expanded-icon="carat-d"><h3>Minus rating</h3><ul id="minus_list" data-role="listview" data-inset="false"></div>
			<!-- </div> -->
			
		</div>
		
		<div data-role="footer" data-position="fixed" style="text-align:center;">
            <a class="makeVote"  value="1" data-role="button" data-icon="plus">Good</a>
			<a class="makeVote" value="-1" data-role="button" data-icon="minus">Bad</a>
        </div>
	</div>
</body>
</html>